:root {
    --accent-color: #2196F3;
    --primary-font-family: 'Roboto',
        sans-serif;
    --secondary-font-family: 'Raleway',
            sans-serif;
            --primary-color:#212121;
            --secondary-color:#757575;
}

h1, h2, h3, p {
    margin-top: 0px;
    margin-bottom: 0px;
}

ul,li {
    margin-top: 0px;
    margin-bottom: 0px;
    padding-left: 0px;
}

img {
    display: block;
}

.list{
    list-style:none;
}
.link {
    text-decoration: none;
}
body{
    font-family: var(--primary-font-family);
    color: var(--primary-color);
}


/* Start header */
.header{
    padding-top: 24px;
    padding-bottom: 24px;
    background-color: tomato;
}

.header-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

a.active-page{
   color: #2196F3;
}

.nav-list {
    display: flex;
    align-items: center;
}

.nav-list-item:not(:last-child) {
    margin-right: 50px;
}

.nav-list-link
 {
    /* display: block; */
        font-weight: 500;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.02em;
        /* color:var(--primary-color); */
        color: currentColor;
}
.nav-list-link:hover,
.nav-list-link:focus
 {
     color: var(--accent-color);
}

.header-contact{
    display: flex;
}
.contact-mail,
.contact-number
{
        font-weight: 500;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.02em;
        color: var(--secondary-color);
}
.contact-mail,
.contact-number:not(:last-child) 
{
margin-right: 50px;
}

.contact-mail:hover,
.contact-mail:focus,
.contact-number:hover,
.contact-number:focus
 {
    color: var(--accent-color);
}
/* End header */


/* Start components */
.container {
    width: 1170px;
    padding-right: 15px;
    padding-left: 15px;
    margin-left: auto;
    margin-right: auto;
}

.section
{  
    padding-top: 94px;
    padding-bottom: 94px;
}
.pluses
{background-color: #188CE8;}

.team{
    background-color:teal;
}

.logo {
    font-family: 'Raleway',
        sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: #2196F3;
    margin-right: 94px;
}

.theme-white {
    color: #000000;
}

.theme-dark{
    color: #FFFFFF;
}
.section-title {
        font-weight: 700;
        font-size: 36px;
        line-height: 1.17;
        text-align: center;
        letter-spacing: 0.03em;
        margin-bottom: 50px;
}
/* End components */

/* Start hero */


.hero {
        background-color: #2F303A;
        padding-top: 200px;
        padding-right: 452px;
        padding-bottom: 280px;
        padding-left: 452px;
        text-align: center;
        }

.main-title {
        font-weight: 900;
        font-size: 44px;
        line-height: 1.36;
        letter-spacing: 0.06em;
        text-transform: uppercase;
        color: #FFFFFF;
        margin-bottom: 30px;
}

.modal-btn
 {
    padding: 10px 24px 10px 24px;
    font-family: var(--primary-font-family); 
    font-weight: 700;
        font-size: 16px;
        line-height: 1.88;
        align-items: center;
        letter-spacing: 0.06em;
        color: #FFFFFF;
        background: #2196F3;
        min-width: 200px; 
        border-radius: 4px;
}

.modal-btn:hover,
.modal-btn:focus
{
    background: var(--accent-color);
}

.modal-btn:active{
background-color: #188CE8;
}
/* End hero */

/* Start section */
.section-list {
    display: flex;
    justify-content: space-between;
}

.section-item {
        font-weight: 700;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        flex-basis:calc(100%-30px*4)/4;
}
.description {
        flex-basis: calc(100%-30px*4)/4;
        font-size: 14px;
        line-height: 24px;
        letter-spacing: 0.03em;
        color: var(--secondary-color);
        margin-bottom: 118px;
        }

/* End section*/

/* Start section team */

.team-card: :not(:first-child){
margin-left: 30px;
}

.team-desc {
        font-weight: 500;
        font-size: 16px;
        line-height: 1.19;
        /* text-align: center; */
        letter-spacing: 0.03em;
}
.prof-desc {
        font-size: 16px;
        line-height: 1.19;
        /* text-align: center; */
        letter-spacing: 0.03em; 
        color: var(--secondary-color);
        }

/* End section team */

/* Start footer */
.contacts-list .address {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    /* color: #FFFFFF; */
}
.contacts-list .address:hover,
.contacts-list .address:focus{
    color: var(--accent-color);
}
.contacts-link {
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 1.71;
        letter-spacing: 0.03em;
        /* color: rgba(255, 255, 255, 0.6); */
}

/* PORTFOLIO */

.wraper {
    display: flexbox;
    flex-direction: row;
}

.work-list {
        font-weight: 700;
        font-size: 18px;
        line-height: 2;
        letter-spacing: 0.06em;
}
.work-desc {
        font-size: 16px;
        line-height: 1.88;
        letter-spacing: 0.03em;
        color:var(--secondary-color);
        }
.filter-btn {
    /* display: inline-block;
    padding: 16px 18px; */
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.63;
        text-align: center;
        letter-spacing: 0.03em;
        /* color: var(--primary-color); */
        color: currentColor;
}

.filter-btn:hover,
.filter-btn:focus {
    color: #FFFFFF;
    background-color:var(--accent-color);

}
/* td {
    cursor: pointer
} */

/* .filter-btn:active{
    background: #2196F3;
        box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
        border-radius: 4px; */
html{
    box-sizing: border-box;
}
*, *::before,*::after{
    box-sizing: inherit;
}
