.logo__link {
    font-family: 'Raleway',
        sans-serif;
    display: block;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: #2196F3;
    margin-right: 94px;
}

.theme-white {
    color: #000000;
}

.logo__link--theme-dark {
    margin-bottom: 20px;
    margin-right: 0px;
}
